<!--
  Generated template for the LogsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title text-center icon-left><ion-icon name="ios-list-box-outline"></ion-icon>Logs</ion-title>
    <button end ion-button menuToggle > 
      <ion-icon name="contact"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg-fondo">
    <ion-item>
        <ion-label>Dominios</ion-label>
        <ion-select interface="popover" multiple="false" [(ngModel)]="select_dominios" (ionChange)="onChange(select_dominios)">
          <ion-option *ngFor="let dominio of domains"  [selected]="select_dominios == dominio" [value]="dominio">{{dominio}}</ion-option>
        </ion-select>
    </ion-item> 
    <br>

    <ion-list>
      <ion-item *ngFor="let log of logs" (click)="toggleDetails(log)" >
        <ion-icon item-end [name]="log.icon"></ion-icon>
        Tipo-Log:  {{log.type}} - Level: {{log.level}}
        <div *ngIf="log.showDetails">
            <ion-item >Date-Time: {{log["date-time"]}}</ion-item>
            <ion-item >Date: {{log.date}}</ion-item>
            <ion-item >Log-Time: {{log.time}}</ion-item>
            <ion-item>Message: {{log.message}}</ion-item>
        </div>
      </ion-item>
    </ion-list>
</ion-content>
