<!--
  Generated template for the ServicesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title text-center icon-left><ion-icon name="ios-briefcase-outline"></ion-icon>Services</ion-title>
    <button end ion-button menuToggle > 
      <ion-icon name="contact"></ion-icon>
    </button>
  </ion-navbar> 
</ion-header>


<ion-content padding class="bg-fondo">

    <ion-item>
        <ion-label>Dominios</ion-label>
        <ion-select interface="popover" multiple="false" [(ngModel)]="select_dominios" (ionChange)="onChange(select_dominios)">
          <ion-option *ngFor="let dominio of domains"  [selected]="select_dominios == dominio.Name" [value]="dominio.Name">
           <!-- <div *ngIf="dominio.OpState == 'up'; then content else other_content"></div>
              <ng-template #content>
                <ion-icon class="checkIcon"  name="checkmark-circle"></ion-icon> -  {{dominio.Name}}
              </ng-template>
              <ng-template #other_content>
                <ion-icon class="warnIcon" name="ios-warning"></ion-icon> - {{dominio.Name}}
              </ng-template> -->
              {{dominio.Name}}
          </ion-option>
        </ion-select>
    </ion-item> 
    <br>


  <ion-list >
    <ion-item (click)="goToDetails(servicesMpg)">
      MultiProcolGateway <br>
      <small>{{servicesMpg?.length}} Servicios.</small>
    </ion-item>
    <ion-item (click)="goToDetails(servicesWsg)">
        Web Service Proxy <br>
        <small>{{servicesWsg?.length}} Servicios.</small>
    </ion-item>
    <ion-item (click)="goToDetails(servicesXmlf)">
        XML Firewall <br>
        <small>{{servicesXmlf?.length}} Servicios.</small>
    </ion-item>
    <ion-item (click)="goToDetails(servicesWafw)">
        Web Aplication Firewall <br>
        <small>{{servicesWafw?.length}} Servicios.</small>
    </ion-item>
    <ion-item (click)="goToDetails(servicesXsl)">
        XSL Accelerator <br>
        <small>{{servicesXsl?.length}} Servicios.</small>
    </ion-item>
  </ion-list>
</ion-content>
