page-network {
     .bg-fondo{
        background-image: url('../../assets/imgs/fondo.jpg');
       background-repeat: no-repeat;
     }
    ion-list {
        ion-item {
          background-color: transparent;
          padding-left: 0;
          position: relative;
        }
        ion-label {
          div {
            text-transform: none;
            font-size: 0.8em;
            white-space: normal;
            text-align: justify;
          }
        }
        ion-icon  {
          font-size: 1.8rem;
          padding: 0;
          text-align: center;
          position: absolute;
          right: 10px;
          top: 3px;
          z-index: 999;
          &:before {
            font-weight: bold;
          }
        }
    }
}
